@font-face {
  font-family: 'icomoon';
  src:  url('../media/icons/icomoon.eot?yo9t13');
  src:  url('../media/icons/icomoon.eot?yo9t13#iefix') format('embedded-opentype'),
    url('../media/icons/icomoon.ttf?yo9t13') format('truetype'),
    url('../media/icons/icomoon.woff?yo9t13') format('woff'),
    url('../media/icons/icomoon.svg?yo9t13#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu1:before {
  content: "\e900";
}
.icon-twitter-square:before {
  content: "\f081";
}
.icon-facebook-square:before {
  content: "\f082";
}
.icon-youtube-play:before {
  content: "\f16a";
}
.icon-instagram:before {
  content: "\f16d";
}
